.formContainer {
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
}

.formContainer div {
    padding-top: 10px;
}

#cuisineBox {
    margin-top: 32px;
    width: auto;
}

.formbuttonGroup {
    display: flex;
    justify-content: center;
}

.formbuttonGroup > button {
    margin-top: 10px;
    margin-right: 50px;
}