* {
  box-sizing: border-box;
}

/* Common CSS Style */
h1 {
  font-size: 30px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  padding: 15px;
}

.navbar-nav {
  margin: auto;
}

.nav-item {
  padding-right: 70px;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../images/henry-co-tqu0IOMaiU8-unsplash.jpg");
  width: 100%;
  height: 600px;
  margin: auto;
  background-size: 100%;
}

/*
.section1-intro {
  background-color: rgba(255, 255, 255, 0.502);
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin: auto;
}

.section1 form,
.section2 form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.card-body > a {
  border-radius: 20px;
  padding: none;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0px 8px;
}

.btn:hover {
  background: #345351;
  color: #e3caab;
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin: auto;
}

.section4 {
  background-color: #345351;
  color: #e3caab;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin: auto;
}

.hashtag,
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.hashtag > p {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.photo img {
  height: 500px;
  margin: auto;
}
