.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../images/brooke-lark-qG_-WZNVoUo-unsplash.jpg");
  width: 100%;
  height: 600px;
  margin: auto;
  background-size: cover;
  background-position: 100% 65%;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

/* Section 2 */
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin: auto;
}

.section1 form,
.section2 form,
.section3 form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.section2 button {
  margin-left: 10px;
}

/* Section 3 */
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin: auto;
}

.card-body > a {
  border-radius: 2pxx;
  padding: none;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0px 8px;
}

/* Section 4 */
.section4 {
  background-color: #345351;
  color: #e3caab;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin: auto;
}

.hashtag,
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.hashtag > p {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-wrap: break-word;
}

.photo img {
  height: 400px;
  margin: auto;
}

@media screen and (max-width: 720px) {
  .section4,
  .section3 form {
    display: none;
  }
}
